.button{
    min-width: 129px;
    height: 28px;
    border-radius: 17.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 1rem;
    background: #375a9e;
    border: 1px solid #efefef;
    color:  #fff;

}

.add_legs{
    min-width: 129px;
    height: 28px;
    border-radius: 17.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.125rem;
    text-align: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 1rem;
    background: white;
    border: 1px solid #efefef;
    color: #375a9e;
}

.loading{
    width: 1.25rem;
    height: 1.25rem;
}