

.table{
   border: 1px solid gray; 
   align-items: center;
   text-align: left;
   margin-bottom: 1.5rem;
   color: rgb(76, 82, 93);
}

/* .table tr{
    border: 1px solid gray;
} */

.table tr{
    text-align: center;
}

.table tr th{
    display: flex;
    justify-content: center;
}

.table tr td{
    border: 1px solid gray;
}
